Student6Project/force-app/main/default/flows/Final_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Character</name>
        <label>Assign Character</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Add_Record.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Actors.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Movies.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Price_Per_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Actors.Price_Per_Hour_EUR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Add_Record.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enter_character</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentActors</name>
        <label>AssignmentActors</label>
        <locationX>270</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ActorsInThisFilm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckCast.Actor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Assignment</name>
        <label>Collection Assignment</label>
        <locationX>270</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Actors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment</name>
        <label>Increment</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Record_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Available_From_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_actors_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Movies.Script__r.Number_of_Actors__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMore</targetReference>
            </connector>
            <label>No actors needed</label>
        </rules>
    </decisions>
    <description>(no_)</description>
    <environments>Default</environments>
    <interviewLabel>Final Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Flow</label>
    <loops>
        <name>CheckCast</name>
        <label>CheckCast</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Cast</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentActors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAvailableActors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Counter</name>
        <label>Counter</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Cast</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Actors</name>
        <label>Loop Selected Actors</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <collectionReference>Available_Actors.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enter_Character_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Cast</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Cast</name>
        <label>New_Cast</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <inputReference>Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cast</name>
        <label>Get Cast</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Movies</name>
        <label>Get Movies</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Movie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAvailableActors</name>
        <label>GetAvailableActors</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chose_Available_Actors</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Available_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Available_From_Date</name>
        <label>Available From Date</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckCast</targetReference>
        </connector>
        <fields>
            <name>Available_Date</name>
            <dataType>Date</dataType>
            <fieldText>Available Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Chose_Available_Actors</name>
        <label>Chose Available Actors</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Actors</targetReference>
        </connector>
        <fields>
            <name>Available_Actors</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Actors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAvailableActors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-874d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Character_Name</name>
        <label>Enter Character Name</label>
        <locationX>270</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Character</targetReference>
        </connector>
        <fields>
            <name>enter_character</name>
            <dataType>String</dataType>
            <fieldText>enter character</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>actors_were_added</name>
            <fieldText>&lt;p&gt;Actors were added to movie cast&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoMore</name>
        <label>NoMore</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Available_From_Date</targetReference>
        </connector>
        <fields>
            <name>noMoreNeeded</name>
            <fieldText>&lt;p&gt;No more actors needed. Press Next button to add additional backup actors&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Movies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActorsInThisFilm</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Add_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>MovieRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
